version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: weekly
  # This block ignores RC versions for all Go dependencies
  ignore:
    - dependency-name: "*"
      versions: ["*-rc*"]
  groups:
    # Group all minor/patch go dependencies into a single PR.
    go-dependencies:
      update-types:
        - "minor"
        - "patch"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
